<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>RBMR- Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="nav">
           <a href="Home.html" class="logo">
            <div class="logo">
                <h4>RBMR</h4>
            </div>
            </a>
            <div class="links">
                <a href="Learn More.html"> Learn More</a>
                <a href="How To.html"> How To Donate</a>
                <a href="Register.html" class="mainlink"> Register</a>
                <a href="Login.html">Login </a>
                <a href="Dashboard.html"> Dashboard </a>

            </div>
        </div>

    </div>

    <!--- LANDING PAGE--->


    <div class="landing">
          <div class="landingImage" data-aos="fade-up" data-aos-duration="2000">
                <img src="../static/images/hospital.png">

            </div>
        <div class="landingText" data-aos="fade-down" data-aos-duration="1000">
            <h1> Stem Cell Donation </h1>
            <h3> A Gift of Life!</h3>
            <h2> Welcome to Rwanda's First Donors Registry</h2>
            <div class="btn">
                <a href="How to.html"> Learn More</a>
            </div>

        </div>

    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
            AOS.init();
    </script>

</body>
</html>