<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>RBMR-Learn</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap" rel="stylesheet">
</head>
<body>
 <div class="wrapper">
        <div class="nav">
            <a href="Home.html" class="logo">
            <div class="logo">
                <h4>RBMR</h4>
            </div>
            </a>
            <div class="links">
                <a href="Learn More.html"> Learn More</a>
                <a href="How To.html"> How To Donate</a>
                <a href="Register.html" class="mainlink"> Register</a>
                <a href="Login.html">Login </a>
                <a href="Dashboard.html"> Dashboard </a>

            </div>
        </div>

    </div>

 <!---- Learn More Section---->
        <div class="about">
           <div class="aboutText" data-aos="fade-up" data-aos-duration="1000">
              <h1> <br>Why is it important that <br> <span style="color:#2f8be0;font-size:3vw;"> you donate?</span> </h1>
               <img src="../static/images/lady.png">
           </div>

        <div class="aboutList" data-aos="fade-left" data-aos-duration="1000">
            <ol>
                <li>
                    <span>1</span>
                    <p> Not too long ago, curing Leukemia seemed to be a distant dream.</p>
                </li>

                <li>
                    <span>2</span>
                    <p> The percentange of African donors on any registry is less that 25%.</p>
                </li>

                <li>
                    <span>3</span>
                    <p> Not too long ago, curing Leukemia seemed to be a distant dream.</p>
                </li>

                <li>
                    <span>3</span>
                    <p> Not too long ago, curing Leukemia seemed to be a distant dream.</p>
                </li>

            </ol>
        </div>

        </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
            AOS.init();
    </script>
</body>
</html>